    <% layout('layouts/boilerplate') %>

    <div id="map"></div>
    <h1>ALL CAMPGROUNDS</h1>
   
    <div>
        <% for (let camp of campground){ %>
         <div class="card mb-3" >
            <div class="row">
                <div class="col-md-4">
                    
                        <img crossorigin="anonymous" src="<%= camp.images[0].url  %>" width=" 400px">
                   
                    
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><%= camp.title%></h5>
                        <p class="card-text"><%= camp.description%></p>
                        <p class="card-text"><small class="text-muted"><%= camp.location %></small></p>
                        
                        <a href="/campground/<%= camp.id%>" class="btn btn-primary"> View <%= camp.title%></a>
                    </div>
                </div>
            </div>
         </div>
            <% } %>
     </div>

    <footer>
        <a href="/campground/new">Add a New Camp</a>
    </footer>
    <script>
        const campgrounds = {features: <%- JSON.stringify(campground) %> }
    </script>
    <script src="/javascripts/mapCluster.js"></script>