<% layout('layouts/boilerplate') %>
<link rel="stylesheet" type="text/css" href="/stylesheets/stars.css">

    <h1 class="text-center">CAMP SHOW</h1>

    <div class="row mb-3">
        <div class="col-6">
          
          
          <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
              <% campgroundID.images.forEach((img , i) => { %>
                
              <div class="carousel-item <%= i === 0 ? 'active': '' %>">
                <img crossorigin="anonymous" src="<%= img.url  %>" class="d-block w-100" alt="...">
              </div>
              <% }) %>

            </div>
            <% if (campgroundID.images.length > 1) { %>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
            <% } %>
          </div>

            <div class="card">
            
                <div class="card-body">
                  <h5 class="card-title"><%= campgroundID.title  %></h5>
                  <p class="card-text"><%= campgroundID.description %></p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">$<%= campgroundID.price  %>/night</li>
                  <li class="list-group-item"><small class="text-muted"><%= campgroundID.location %></small></li>
                  <li class="list-group-item">By <%= campgroundID.author.username  %></li>
                </ul>
                <% if( currentUser && campgroundID.author.equals(currentUser._id)){ %>
                <div class="card-body">
                    <a href="/campground/<%=campgroundID._id%>/edit" class="card-link btn btn-primary">Editar</a>
                    <form class="d-inline mx-3" action="/campground/<%= campgroundID._id %>?_method=DELETE" method="POST">
                        <button class=" btn btn-danger">DELETE</button>
                    </form>
                  </div>
                 <% } %>
                  <div class="card-body"><a href="/campground" class="card-link btn btn-primary">Lista de Campamentos</a></div>
                </div>
                  
              
               </div>
        
                <div class="col-6">
                  
                <h2 class="my-3">Reviews of <%=campgroundID.title  %></h2>
                <form action="/campground/<%=campgroundID._id %>/reviews" method="POST" class=" my-3 validated-form" id="reviews" novalidate>
                  

                  <fieldset class="starability-basic">
                   
                    <input type="radio" id="no-rate" class="input-no-rate" name="Review[rating]" value="0" checked aria-label="No rating." />
                    <input type="radio" id="first-rate1" name="Review[rating]" value="1" />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="first-rate2" name="Review[rating]" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="first-rate3" name="Review[rating]" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input type="radio" id="first-rate4" name="Review[rating]" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="first-rate5" name="Review[rating]" value="5" />
                    <label for="first-rate5" title="Amazing">5 stars</label>
                  </fieldset>

                  <div class="my-3">
                    <label for="body" class="form-label">Review Text</label>
                    <textarea class="form-control" name="Review[body]" id="body" cols="30" rows="5" required></textarea>
                    <div class="valid-feedback">Looks Good!</div>
                  </div>
                  <button class="btn btn-success">Submit Review</button>
                </form>

                <div class="my-3">

                  <div id="map" class="mb-3"></div>
              
                  <% for(let review of campgroundID.reviews) { %>
                    <div class="card mb-3">
                      <div class="card-body">
                        <p class="card-title mb-2"> <h5><%= review.author.username  %></h5></p>
                        <p class="card-title">Rating: <%= review.rating  %></p>
                        <p class="starability-result" data-rating="<%= review.rating  %>">
                        Rated: 3 stars
                        </p> 
                       
                       <p class="card-text">Review: <%= review.body  %> </p>
                   
                        <% if(currentUser && review.author.equals(currentUser)){ %>
                      <form action="/campground/<%=campgroundID._id %>/reviews/<%=review._id  %>?_method=DELETE" method="POST">
                      <button class="btn btn-sm btn-danger">Delete</button>
                      </form>
                      <% } %>
                      </div>
                    </div>
                    <% } %>
                </div>
                </div>


                
        </div>
        <script>
          mapboxgl.accessToken = 'pk.eyJ1Ijoid2FvYiIsImEiOiJjbG9tb29lNmwxZGM2MmlvNXlheHI0cDUyIn0.ovo3Zvlem5i72bWTjZER9A';
          const campgroundData = <%- JSON.stringify(campgroundID) %>;
          
          if (campgroundData) {
            const map = new mapboxgl.Map({
              container: 'map',
              style: 'mapbox://styles/mapbox/satellite-streets-v12',
              center: campgroundData.geometry.coordinates,
              zoom: 9,
            });
          
            const marker1 = new mapboxgl.Marker()
              .setLngLat(campgroundData.geometry.coordinates)
              .setPopup(
                new mapboxgl.Popup({offset:25})
                .setHTML(
                  `<h4>${campgroundData.title}</h4><p>${campgroundData.location}</p>`
                )
              )
              .addTo(map);
              
          }
        </script>